.layout {
  display: flex;
  flex-direction: column;
}

.layout.layout-full {
  height: 80vh;
  width: 100vw;
}

.layout.layout-center {
  align-items: center;
  justify-content: center;
}

.header-big {
  display: block;
  font-size: 5.2em;
  margin-bottom: 60px;
}

.header-medium {
  font-size: 4.2em;
}