.de-image-figure {
  margin: 0 10px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.de-image-figure .caption, .de-image-figure figcaption {
  padding-left: 15px;
}

html.wf-active .de-image-figure .fig-author-figure-title {
  font-family: var(--de-font-article);
  font-size: 16px;
}

.de-image-figure .fig-author-figure-title {
  color: var(--de-color-grey);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 2px;
}

.fig-author-figure-title-header a {
  color: var(--de-color-grey);
  font-size: 28px;
  text-decoration: none;
}

.fig-author-figure-title-header a:hover {
  text-decoration: underline;
}

.de-imageover {
  position: relative;
  display: flex;
}

.de-image-figure:hover .de-imageover-color, .de-imagecover:hover .de-imageover-color {
  background-color: var(--de-blue-twitter-alpha);
}

.de-image-figure:hover .de-imageover-image, .de-imagecover:hover .de-imageover-image {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.de-imageover-color {
  height: 80px;
  width: 80px;
  position: absolute;
  background: transparent;
  background-image: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.de-imageover-image {
  position: absolute;
  top: 0;
  opacity: 0;
}