.de-grid {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.de-grid p, section {
  margin: 20px 0;
}

.de-grid article {
  margin: 20px 0 40px 0;
}

.de-grid section h3 + p, .de-article-content-top {
  margin: 0px 20px;
}

.de-article-content-first-line {
  font-size: 24px;
}

.de-header {
  padding: 20px 0;
  border-bottom: 1px solid #DFDFDF;
}

.de-padding {
  padding: 20px;
}

.de-row {
  margin-top: 30px;
}

.de-row-double {
  margin-top: 60px;
}