.de-grid {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.de-grid p, section {
  margin: 20px 0;
}

.de-header {
  padding: 20px 0;
  border-bottom: 1px solid #DFDFDF;
}

.de-padding {
  padding: 20px;
}

.de-row {
  margin-top: 30px;
}

.de-row-double {
  margin-top: 60px;
}