.de-grid {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.de-grid p, section {
  margin: 20px 0;
}

.de-header {
  padding: 20px 0;
  border-bottom: 1px solid #DFDFDF;
}

.de-padding {
  padding: 20px;
}

.de-tag-padding {
  padding: 0 20px;
}

.de-row {
  margin-top: 30px;
}

.de-row-double {
  margin-top: 60px;
}

.de-tag-row {
  margin-top: 30px;
  padding-bottom: 30px;  
}

/* TODO: Fix this hack */
.de-tag-padding .de-row-double:first-child {
  margin-top: 20px;
}

.capitalize {
  text-transform: capitalize;
}
