<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>davidea.st - Web Development Articles</title>
    <style><%- styles %> /**/</style>
  </head>
  <body>
    
    <%- include(__dirname + '/templates/_header'); %>

    <div class="layout layout-full layout-center">
      <h1 class="header-big">¯\_(ツ)_/¯</h1>
      <a class="header-medium" href="/">Go Home</a>
    </div>

    <script defer src="assets/fonts.js"></script>
  </body>
</html>