<div class="de-article de-row-double">
  <h4 class="de-article-date">March 1st, 2017</h4>
  <h2 class="de-article-title">
    <a href="#">Improve page load times by lazy loading Firebase</a>
  </h2>
  <div class="de-pill-box">
    <div class="de-pill de-pill-firebase">
      <a href="#">Firebase</a>
    </div>
  </div>
  <p class="de-article-whyread-content">
    <span class="de-article-whyread">Why Read:</span> Taking Firebase out of your critical path gives your page load a huge boost.
  </p>
  <a class="de-article-readmore" href="#">Read More.</a> 
  <div class="de-article-divider"></div>     
</div> 