<div class="de-headline">
  <h4 class="de-headline-date">March 4th, 2017</h4>
  <h2 class="de-headline-title">
    <a href="#">Create smaller bundles with Firebase and Rollup</a>
  </h2>
  <div class="de-pill-box">
    <div class="de-pill de-pill-firebase">
      <a href="#">Firebase</a>
    </div>
    <div class="de-pill de-pill-offbrand">
        <a href="#">Rollup</a>
    </div>
  </div>

  <h3 class="de-headline-whyread de-row">Why Read?</h3>
  <p class="de-headline-whyread-content">
    Rollup is a special JavaScript bundles that uses ES2015 modules to tree shake uneeded code. Which leads to smaller bundles. Creating smaller bundles means faster page load times. Plus, there’s some super cool new syntax to learn.
  </p>
  <a class="de-headline-readmore" href="#">Read More.</a>
</div>