<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" href="/assets/manifest.json">
    <title>davidea.st - Web Development Articles</title>
    <style><%- styles %> /**/</style>
  </head>
  <body>

    <%- include(__dirname + '/templates/_header'); %>

    <div class="de-grid de-row-double de-padding">

      <%- include(__dirname + '/templates/_headline', { post: headlinePost }); %>

      <div class="articlelist">
        <% articles.forEach(function(post){ %>

        <%- include(__dirname + '/templates/_article', { post }); %>   

        <% }); %>      

      </div>
    </div>
    
    <%- include(__dirname + '/templates/_footer'); %> 

    <script>
function attachOnUpdateFound(n,o,e){n.onupdatefound=function(){var t=n.installing;t.onstatechange=function(){"installed"===t.state&&(navigator.serviceWorker.controller?o():e())}}}"serviceWorker"in window.navigator&&window.addEventListener("load",function(){window.navigator.serviceWorker.register("/sw.js").then(function(n){attachOnUpdateFound(n,function(){console.log("new app version ready!")},function(){console.log("ready to go offline!")})})});
    </script>
  </body>
</html>
