* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
h1 {
  font-size: 2.3em;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin: 0;
}
h2 {
  font-size: 36px;
  line-height: 64px;
}
article {
  font-size: 19px;
  line-height: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  font-size: 18px;
}
.de-tagline {
  font-size: 24px;
  margin: 0;
}

.de-list {
  border-left: 4px solid #aaa;
}

.de-list.de-list-no-type {
  list-style-type: none;
}

.de-blockquote-border {
  border-left: 4px solid #aaa;
  padding-left: 1rem;
  margin: 1em 0;
}

.de-blockquote-frame {
  margin: 1em;
}

.de-blockquote {
  font-style: italic;
  font-weight: 100;
  margin: 0;
}

.de-blogimg-frame, .de-blogimg-frame-full {
  align-items: center;
  display: flex;
  justify-content: center;
}

.de-blogimg-frame {
  padding: 1em;
}

.de-blogimg-frame-full img {
  width: 100%;
}

.de-blogimg {
  width: 75%;
}

.de-blockquote:before, .de-blockquote:after {
  font-size: 24px;
}

.de-blockquote:before {
  content: '“';
}

.de-blockquote:after {
  content: '”';
}

.de-blockquote-attribution {
  font-size: 14px;
}

.de-thx {
  border: 1px solid rgba(0,0,0, .1);
  background: rgba(0,0,0,.07);
  border-radius: 6px;
  color: rgba(0,0,0,0.8);
  padding: .5em;
}

.de-smaller-text {
  font-size: .8em;
}
