.de-post h1, .de-post h2, .de-post h3, .de-post h4, .de-post h5 {
  margin: 2rem 0;
}

.de-post h3 {
  font-weight: bold;
}

.de-article-content p {
  margin: 2rem 0;
}

.de-article-content code {
  background: #eee;
}

.de-article-content-title h1 {
  margin: 0;
}

.de-article-content-title span {
  color: #5a5a5a;
  font-weight: 100;
  font-size: 16px;  
}

// Janky padding to the top of an h3 after
// a code block. Spaces out things a little better.
.pre-language-bash + h3,
.pre-language-javascript + h3,
.pre-language-typescript + h3 {
  margin-top: 3rem;
}
