/**
  background
  default text
	selection
  keywords
  operators
  comments
  punctuation
  numbers
  char,string
  function
*/

/*.fir-codebox {
  background: var(--prism-bg);
  color: var(--prism-text);
  padding: 20px;
}

.fir-codebox code {
  font-family: "hack", Consolas, Monaco, monospace;
}*/